<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Moq" version="4.8.2" targetFramework="net461" />
  <package id="MvvmCross.Core" version="5.7.0" targetFramework="net461" />
  <package id="MvvmCross.Platform" version="5.7.0" targetFramework="net461" />
  <package id="MvvmCross.Plugin.Messenger" version="5.7.0" targetFramework="net461" />
  <package id="MvvmCross.Tests" version="5.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="Splat" version="2.0.0" targetFramework="net461" />
  <package id="SQLiteNetExtensions" version="2.0.0" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.10" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.10" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.10" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.10" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.10" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.10" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>